<nav class="menu" role="nav">
  <ul>
    <!-- <li><a href="/tag/essays">Essays</a></li> -->
    <li><a href="/projects">Projects</a></li>
    <li><a href="/about">About</a></li>
    <!-- Really need to write stuff that is 'the best' -->
    <!-- <li><a href="/tag/best">Best Of</a></li> -->
  </ul>
</nav>
